* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    color: white
}

.close-readmore {
    font-size: 1.3em;
    left: 1em;
    z-index: 10;
    display: block;
    background-color: #3a3a3a;
    padding: .5em;
    position: sticky;
    top: 0;
}

.close-readmore:after {
    content: "Tilbake";
    margin-left: 1em;
    font-style: normal;
}

.article-readmore {
    margin: 0 auto;
    position: relative;
}

.article-readmore .readmore-image {
    width: 100%;
}

.article-readmore .readmore-image img {
    width: 100%;
    height: 100%;
    max-height: 70vh;
    object-fit: cover;
}

.article-readmore {
    text-align: center;
}

.article-readmore .readmore-title,
.article-readmore .readmore-summary,
.article-readmore .readmore-content {
    word-break: break-all;
}

.article-readmore .readmore-summary,
.article-readmore .readmore-content {
    text-align: left;
}

.article-readmore .readmore-title {
    margin: .5em 0 1em;
    font-size: 2.2em;
}

.article-readmore .readmore-summary {
    margin-bottom: 1em;
    font-size: 1.5em;
}

.article-readmore .readmore-content {
    font-size: 1.2em;
    padding-bottom: 1em;
}

.readmore-details {
    border-bottom: 1px solid #707070;
    margin-bottom: .75em;
    justify-content: flex-end;
    display: flex;
    padding-bottom: 0.25em;
}

.readmore-details span {
    margin: .5em .5em;
}

.readmore-details span i {
    margin-right: 0.15em;
}

.readmore-container {
    width: 70%;
    margin: 0 auto;
}
@media all and (max-width: 980px) {
    .readmore-container {
        width: initial;
        margin: 0 1em;
    }
}